/* 
    JMP Numbers That Are Blocked or Not
    Copyright (C) 2022  Maxime V.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

#searchError {
    color: red;
}

.searchContainer {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #14151688;
    padding: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin: auto; 
    text-align: center;
}

#searchBar {
    background-color: #2e313388;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 50vmin;
    color: #fff;
    -webkit-appearance: textfield
}

#searchBar::placeholder {
    color: #fff;
}

#searchButton {
    background-color: #88888888;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

#searchButton:hover {
    background-color: #888888BB; /* BB instead of 88 for opacity */
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

/* si la taille d'écran est moins de 600px */
@media screen and (max-width: 600px) {
    #searchBar {
        width: 80%;
    }
}

/* MODE SOMBRE AUTOMATIQUE, DOIT RESTER EN BAS */
@media (prefers-color-scheme: light) {
    .searchContainer {
        background-color: #f1f1f188;
    }

    #searchBar {
        background-color: #d1d1d188;
        color: #353535;
    }

    #searchBar::placeholder {
        color: #353535;
    }
}