/* 
    JMP Numbers That Are Blocked or Not
    Copyright (C) 2022  Maxime V.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.dropdown-item {
    background: #20232588;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 2vmin;
    width: 87vmin;
    border-radius: 15px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397); */
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

.dropdown-title {
    font-size: 1.3em;
    font-weight: bold;
    transition: 0.1s;

    white-space: nowrap;
    overflow-x: auto;
}

.dropdown-title:hover {
    cursor: grab;
    color: #4287f5;
    transition: 0.1s;
}

/* animate the opening of a service */
.detailsService {
    transition: height 0.2s ease;
}

.detailsService:not([open]) {
    height: 2em;
}

.detailsService[open] {
    height: 11em;
}

/* fade in the service content when opened */
.detailsService:not([open]) table {
    opacity: 0%;
    transition: 0.5s;
}

.detailsService[open] table {
    opacity: 100%;
    transition: 0.5s;
}

a {
    scroll-margin-top: 6em;
}

a:link {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ffff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #4287f5;
    background-color: transparent;
    text-decoration: none;
}

table {
    margin-top: 10px;
    width: 100%;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    width: "33%";
    font-weight: bold;
}

td {
    text-align: center;
    vertical-align: middle;
    width: "16%";
    padding: 5px;
}

/* si la taille d'écran est moins de 600px */
@media screen and (max-width: 600px) {
    .dropdown-item {
        width: 87vmin;
        border-radius: 20px;
    }

    td {
        padding: 5px 0px;
    }

    .detailsService[open] {
        height: 10.4em;
    }
}

/* MODE SOMBRE AUTOMATIQUE, DOIT RESTER EN BAS */
@media (prefers-color-scheme: light) {
    .dropdown-item {
        background: #ffffff;
    }

    table {
        color: rgb(58, 58, 58);
    }

    tr {
        border-bottom: 1px solid #ccc;
    }

    th {
        width: "33%"
    }

    td {

        text-align: center;
        vertical-align: middle;
        width: "16%";
    }

    a:link {
        color: rgb(58, 58, 58);
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: rgb(87, 87, 87);
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: #4287f5;
        background-color: transparent;
        text-decoration: none;
    }
}

/* https://www.w3schools.com/css/css_tooltip.asp */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
    width: 33px;
    height: 28px;
    border-radius: 100%;
    color: rgb(255, 208, 0);
    display: inline-block;
    vertical-align: middle;
}

.additionalComments {
    width: fit-content;
    background-color: rgba(255, 230, 0, 0.247);
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px 10px 10px;
    margin-bottom: 10px;
    vertical-align: middle;
} 
.additionalCommentText {
    text-align: center;
    vertical-align: center;
    margin: auto;
    vertical-align: middle;
}